<!-- Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Admin</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#">
                <i class="icon-speech"></i>
            </a>
            <a class="btn" href="">
                <i class="icon-graph"></i>  Dashboard</a>
            <a class="btn" href="#">
                <i class="icon-settings"></i>  Settings</a>
        </div>
    </li>
</ol>
<div class="container-fluid" id="create-genre">
    <div class="animated fadeIn">


        <div class="row">

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">Add Genre</div>
                    <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" type="text" data-bind="textInput:genre.name" placeholder="Enter a genre">
                                    <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-actions">
                                <button id="save-button" data-bind="click: saveGenre" class="ladda-button"  data-color="mint" data-size="xs" data-style="zoom-out" type="submit">Save</button>
                            </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row-->

    </div>
</div>