<!-- Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Admin</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#">
                <i class="icon-speech"></i>
            </a>
            <a class="btn" href="">
                <i class="icon-graph"></i>  Dashboard</a>
            <a class="btn" href="#">
                <i class="icon-settings"></i>  Settings</a>
        </div>
    </li>
</ol>
<div class="container-fluid" id="create-game">
    <div class="animated fadeIn">


        <div class="row">

            <div class="col-sm-12">

                <div class="card">
                    <div class="card-header">
                        <strong>Create Game</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label >Name</label>
                            <input class="form-control" data-bind="textInput: game.name" type="text" placeholder="Enter game name">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>Platform</label>
                                <select  class="form-control" data-bind="options: tempGame.platforms, selectedOptions: game.platforms,

                                 optionsText: 'name'," size="5" multiple="true">

                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label >Genre</label>
                                <select class="form-control" data-bind="options: tempGame.genres,
                       optionsText: 'name',
                       selectedOptions: game.genres,
                       optionsCaption: 'Choose genres'", size="5" multiple="true">

                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Create competition Url</label>
                                <input data-bind="textInput: game.createCompetitionUrl" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>Competition Type</label>
                                <select class="form-control" data-bind="options: tempGame.competitionType,
                       optionsText: 'name',
                       value:  game.competitionType,
                       optionsCaption: 'Choose competition type...'">

                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleFormControlTextarea1">Game description</label>
                                <textarea data-bind="textInput: game.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Join competition Url</label>
                                <input data-bind="textInput: game.joinCompetitionUrl" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div  class="col-sm-4" style=" position: relative;
                    cursor: pointer;">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-cloud-upload"></i>
                                                </span>
                                    </div>
                                    <input data-bind="textInput: game.image().name" placeholder="Select the wallpaper" style="cursor: pointer;
                        background: rgba(255, 255, 255, 1);" autocomplete="off"
                                           class="form-control file-src" type="text" readonly/>
                                    <input style="cursor: pointer;
                        display: block;
                        height: 100%;
                        left: 0;
                        opacity: 0 !important;
                        position: absolute;
                        top: 0;
                        width: 100%;" type="file" data-bind="event: {change: fileUpload.bind()}"
                                           required accept="image/png,image/jpg,image/jpeg">
                                </div>
                                <div id="identification-doc-error" class="error-block" ng-bind-html="agentInfoForm.identificationDocument.$invalid && agentInfoForm.$submitted ? language.WARNINGS.ERR_ID_DOC : blankSpace"></div>
                            </div>
                        </div>
                        <div class="row">

                           <h5>Platform links</h5>
                        </div>
                        <!-- ko foreach: game.platformLinks -->
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <input data-bind="textInput: $data.platform.name()" class="form-control" readonly>
                            </div>
                            <div class="form-group col-sm-4">
                                <input data-bind="textInput: $data.url" class="form-control" placeholder="Game url">
                            </div>
                            <div class="form-group col-sm-4">
                                <input data-bind="textInput: $data.downloadLink" class="form-control" placeholder="Game download url">
                            </div>
                        </div>
                        <!-- /ko -->


                    </div>
                    <div class="card-footer">
                        <button id="save-button" class="ladda-button btn-primary" data-size="xs" data-style="zoom-out"  data-bind="click: saveGame">
                            <i class="fa fa-dot-circle-o"></i> Submit</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row-->

    </div>
</div>